<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>reeabuilding_small0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,253}}</string>
                <key>sourceSize</key>
                <string>{336,253}</string>
            </dict>
            <key>reeabuilding_small1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{336,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,253}}</string>
                <key>sourceSize</key>
                <string>{336,253}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building.png</string>
            <key>size</key>
            <string>{340,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bffc21d630014e2afdb95d18cc3025e7:76b9e83769266a6257b3571ddf1b6823:e26fee76d701fc6c6e02c2cbc3f50d05$</string>
            <key>textureFileName</key>
            <string>building.png</string>
        </dict>
    </dict>
</plist>
